.header{
  background-color: rgb(18, 212, 212);
  margin: 20px;
  padding: 10px;
  border: 3px solid goldenrod;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}