
.todo-list{
  background-color: rgb(30, 138, 210);
  color: white;
  margin: 20px;
  padding: 10px;
  border: 3px solid goldenrod;
  border-radius: 10px;
  box-shadow: 10px 5px 10px gray;
}

.todo-list:hover{
  cursor: pointer;
  transition: ease-out;
  background-color: rgb(49, 12, 100);
}